body {
  background: #FFFFFF;
  background: linear-gradient(to right, #0052D4, #65C7F7, #FFFFFF);
}


.card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

 .card-body {
  padding: 2rem;
}

 .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}



label {
  margin-bottom: 1rem;
  font-weight: 300;
}